:root {
  --c-text: oklch(92% 0 0deg);

  --c-muted: oklch(65% 0 0deg);

  --c-surface: oklch(22% 0 0deg);

  --c-primary: oklch(65% 0.08 255deg);

  --c-secondary: oklch(70% 0.09 170deg);
}

.light {
  --c-text: oklch(20% 0 0deg);
  --c-muted: oklch(55% 0 0deg);
  --c-surface: oklch(97% 0 0deg);
  --c-primary: oklch(55% 0.1 255deg);
  --c-secondary: oklch(65% 0.1 170deg);
}
