@import 'tailwindcss';
@import './styles/tokens.css';

@theme {
  --color-text: var(--ion-text-color);
  --color-background: var(--ion-background-color);
  --color-foreground: var(--ion-background-color-step-900);
  --color-muted: var(--c-muted);
  --color-surface: var(--c-surface);
  --color-primary: var(--c-primary);

  --color-secondary: var(--c-secondary);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
