@import 'tailwindcss';
@import './styles/tokens.css';

@theme {
  --color-text: var(--ion-text-color);
  --color-background: var(--ion-background-color);
  --color-muted: var(--c-muted);
  --color-surface: var(--c-surface);
  --color-primary: var(--c-primary);
  --color-primary-hover: var(--c-primary-hover);
  --color-secondary: var(--c-secondary);
  --color-secondary-hover: var(--c-secondary-hover);
}
